.overview-container{
    background: #f3f6f9;
    height: 100%;
}

.overview-card{
    box-shadow: 0 2px 10px rgba(0,0,0,.1);
    border: 0!important;
    border-radius: 10px;
    padding:2px 10px;
    margin: 0
}

.overview-card .card-body{
    padding: 10px 20px 0;
}
.overview-card .card-body .card-text{
    color: rgba(0,0,0,.5)
}
.overview-card .card-title h1{
    font-weight: 700;
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}